.shopping-cart {
  margin: 0;
  position: fixed;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  background-color: white;
  border-left: 2px solid black;
  width: 400px;
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

.shopping-cart h2 {
  margin: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-img {
  width: 70%;
}

.cart-input-container {
  display: flex;
  gap: 10px;
}

.quantity-container {
  display: flex;
  gap: 5px;
  font-size: 1.2rem;
}

.increase,
.decrease {
  cursor: pointer;
}
