.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 90px;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.card {
  border: 2px solid rgb(228, 227, 227);
  width: 70%;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-self: center;
}

.card img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.item-text {
  position: relative;
  top: 0;
  font-size: 2rem;
}
.add-item-button {
  margin-top: 30px;
  align-self: center;
  font-family: inherit;
  width: 100%;
  font-size: 2rem;
  height: 60px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.add-item-button:hover {
  background-color: green;
}
